.purchase-toolbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:24px;

    margin-bottom:24px;

    flex-wrap:wrap;

}

.purchase-toolbar__left{

    display:flex;

    flex:1;

    gap:16px;

    flex-wrap:wrap;

}

.purchase-toolbar__left .ui-input{

    min-width:300px;

}

.purchase-toolbar__left .ibop-select-group{

    min-width:240px;

}

.purchase-toolbar__right{

    display:flex;

    gap:12px;

}

@media (max-width:900px){

.purchase-toolbar{

align-items:flex-start;

}

.purchase-toolbar__left{

width:100%;

}

.purchase-toolbar__left .ui-input,

.purchase-toolbar__left .ibop-select-group{

width:100%;

min-width:100%;

}

.purchase-toolbar__right{

width:100%;

justify-content:flex-end;

}

}